.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    margin: 20px;
}
.centeredContainer {
    display:flex;
    justify-content:center ; 
    flex-wrap: wrap;
    
    
    
  }



  .buttonContainer {
    display: flex;
    gap: 10px; 
    flex-direction: row;
}
  